@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@font-face {
    font-family: CircularStd;
    src: url(assets/fonts/CircularStd-Bold.eot);
    src: url("assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Bold.woff") format("woff"), url("assets/fonts/CircularStd-Bold.ttf") format("truetype"), url("assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
}

:root {
    --primary-color: #000;
    --overlay-color: rgba(255, 255, 255, 0.9);
    --menu-speed: 0.75s;
    --light-text-color: #444;
    --black-text-color: #000;
    --black-color: #000;
    --white-color: #fff;
    --hero-color: black;
}

.work-hero-card {
    display: block;
    margin: 0 auto;
    width: 80%;
    background: #fff;
    padding: 0;
    border-radius: 9px;
    padding-bottom: 15px;
    box-shadow: 2px 2px 20px #00000025;
    cursor: pointer;
    transition: all 1s;
    height: 100%;
}

.work-hero-panel {
    display: block;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    padding: 0;
    border-radius: 9px;
    padding-bottom: 15px;
    box-shadow: 2px 2px 20px #00000025;
    cursor: pointer;
    transition: all 1s;
    height: 100%;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5) translateY(-200%);
        opacity: 0;
    }
    50% {
        transform: scale(1.2) translateY(0);
        opacity: 1;
    }
    70% {
        transform: scale(0.9) translateY(-20%);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

/* 모달 전체 화면 설정 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 모달 내 이미지 스타일 */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* 닫기 버튼 스타일 */
.close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.work-hero-card-circle {
    display: block;
    cursor: pointer;
    width: 70%; /* 원하는 크기로 설정 */
    padding-top: 70%; /* 정사각형을 유지하기 위해 패딩 사용 */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top : 60px;
    border-radius: 50%; /* 동그랗게 만듦 */
    overflow: hidden; /* 이미지가 원 밖으로 나오지 않도록 설정 */
    box-shadow: 2px 2px 20px #00000025;
    position: relative;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.work-hero-card-circle:hover {
    transform: scale(1.1); /* 확대 효과 */
    box-shadow: 0px 0px 20px #88888875;
}

#hero-img-circle {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지를 원 안에 맞춤 */
    padding: 8px;
}


.work-hero-card-idea{
    display: block;
    margin: 0 auto;
    width: 90%;
    background: #fff;
    padding: 0;
    border-radius: 9px;
    padding-bottom: 15px;
    box-shadow: 2px 2px 20px #00000025;
    cursor: pointer;
    transition: all 1s;
}

.work-hero-card-idea h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.work-hero-card-idea h2 {
    padding-top: 20px;
    text-align: center;
    font-size: 1px;
    font-weight: bold;
}

.work-hero-card-skill {
    display: block;
    margin: 0 auto;
    width: 81%;
    background: #fff;
    padding: 3px;
    border-radius: 12px;
    padding-bottom: 15px;
    box-shadow: 2px 2px 20px #00000025;
    cursor: pointer;
    transition: all 1s;
    height: 100%;
}

.work-hero-card-idea:hover {
    width: 100%;
    box-shadow: 0px 0px 20px #88888875;
    animation: zoom 1s;
}


#work-text {
    text-align: center;
    font-size: 1.5em;
}

#work-text-skill {
    text-align: center;
    font-size: 1em;
}

.work-hero-card h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.work-hero-card:hover {
    width: 85%;
    box-shadow: 0px 0px 20px #88888875;
    animation: zoom 1s;
}

.work-hero-card-skill h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}


.work-card-hero-img {
    display: block;
    width: 100%;
    padding : 5px;
    border-radius: 12px;
    border-bottom: none;
    margin: 0;
}

.skill-rating {
    display: none; /* 기본적으로 별 숨기기 */
    text-align: center;
    margin-top: 10px;
}

.work-hero-card-skill:hover .skill-rating {
    display: block; /* 마우스 오버 시 별 표시 */
}

.work-hero-card-skill:hover {
    width: 90%;
    box-shadow: 0px 0px 20px #88888875;
    animation: zoom 1s;
}

.star {
    font-size: 24px; /* 별 크기 */
    color: #ccc; /* 기본 별 색상 (비어있는 별) */
}

.star.filled {
    color: #f39c12; /* 채워진 별 색상 (노란색) */
}


.work-double-row {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 80px;
}

.work-panel-row {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 80px;
}

.work-quadra-row {
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 80px;
}

.project-star {
    position: absolute;
    background: #ffff0080;
    border-radius: 50px;
    padding: 2px 6px;
    font-size: 0.8em;
    top: 40px;
    right: 0;
}

.project-star-mobile {
    display: none;
    background: #ffff0080;
    border-radius: 50px;
    padding: 2px 6px;
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.8em;
}

.image-gallery {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.main-image img {
    width: 100%; /* 큰 이미지의 너비를 부모 요소에 맞추기 */
    max-height: 400px; /* 최대 높이 설정 */
    object-fit: cover; /* 이미지가 잘리더라도 비율 유지 */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail-images {
    margin-top: 15px;
    display: flex;
    justify-content: left;
    gap: 10px;
}

.thumbnail-images img {
    width: 10%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
}


#work-row {
    padding-left: 135px;
    padding-right: 135px;
    width: 100vw;
}

.work-hero {
    border-radius: 10px;
    width: 90%;
    text-align: left;
    transition: width 1s;
}

.work-hero2 {
    border-radius: 10px;
    text-align: left;
}

.work-hero:hover {
    width: 95%;
}

.work-des {
    padding-top: 50px;
}

.work-des-work{
    padding-top: 50px;
}



.work-des h1 {
    margin-top: 0px;
    font-weight: bold;
}

.work-des h3:hover {
    color: blue;
    cursor: pointer;
}

.work-des h2 {
    margin-top: 45px;
    font-weight: bold;
}


.work-des h3 {
    margin-top: 0px;
    margin-bottom: 45px;
    font-size : 3em;
    font-weight: bold;
    transition: transform 0.5s ease;
}

.work-des h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size : 1.4em;
    font-weight: bold;
    transition: transform 0.5s ease;
}

.work-des h4:hover {
    color: blue;
    cursor: pointer;
}

.work-des p {
    text-align: justify;
    font-weight: 100;
    transition: transform 0.5s ease;
}

.work-hero-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 45px;
}


.work-hero-thumbnail {
    width: 100%;
    border-radius: 10px;
}




.work-hero-video {
    width: 100%;
    border-radius: 10px;
    margin-top: 45px;
    display: none;
    transition: width 1s;
}

.work-hero:hover .work-hero-video {
    width: 105%;
}


/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.pagination a {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 1em;
    margin: 0 4px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a.active {
    background-color : black; /* 활성화된 페이지 색상 */
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd; /* 호버 시 배경색 */
    color: #007bff;
}

.technologies h1 {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.technologies h1:hover {
    color: blue;
}


.technologies {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    transition: width 1s;
}

.technologies h2 {
    display: flex;
    font-size: 1em;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin: 0;
}

.technologies .dot {
    min-width: 160px; /* 날짜의 최소 너비를 설정하여 정렬 */
    margin-right: 10px;
    font-weight: bold;
    color: black; /* 점의 색상 */
}

.technologies .underbar {
    min-width: 160px; /* 날짜의 최소 너비를 설정하여 정렬 */
    margin-right: 10px;
    font-weight: bold;
    color: dimgrey; /* 점의 색상 */
}

.technologies .description {
    flex-grow: 1; /* 남은 공간을 차지하여 동일한 라인에 유지 */
    font-weight: normal;
}


.technologies h2:hover {
    color: blue;
}

.tech-stack {
    cursor: pointer;
    margin-right: 20px;
    background: #f7f7f7;
    padding: 2px 4px;
    font-size: 1em;
    transition: background 1s;
}

.exp-stack {
    cursor: pointer;
    margin-right: 20px;
    background: #f7f7f7;
    padding: 0;
    font-size: 1em;
    text-align: left;
    transition: background 1s;
    font-weight: bold;
}

.tech-stack:hover {
    background: beige;
}

.exp-stack:hover {
    background: beige;
}

.featured {
    margin-top: 0px;
}

.partners {
    height: 50px;
    margin-right: 20px;
}

#partner-logo {
    height: 40px;
    cursor: pointer;
    transition: all 1s;
}

#partner-logo:hover {
    box-shadow: 0px 0px 10px #444;
}

.work-read {
    float: right;
    font-size: 0.8em;
}

.work-read:hover {
    background: #444;
    color: white !important;
    border: 2px solid #444 !important;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--light-text-color);
    overflow-x: hidden;
}

.comingsoon h1 {
    font-size: 3em;
}

.comingsoon {
    position: absolute;
    margin: auto;
    top: 0;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10em;
    animation: opac 0.1s ease-in-out 5;
}

.comingsoon a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 1s;
}

.comingsoon a:hover {
    color: blue;
    font-size: 1.5em;
}

.social-icons a {
    color: var(--light-text-color);
    text-decoration: none;
    transition: all 1s;
}

.social-icons a:hover {
    color: blue;
}

li span a {
    color: #444;
    text-decoration: none;
}

li span a:hover {
    color: #444;
    text-decoration: none;
}

.copyright-legal {
    font-size: 1.1em;
    color: #444;
    letter-spacing: 0px;
    text-align: left;
}

.legal-links {
    text-decoration: none;
    font-weight: bold;
    transition: all 1s;
}

.legal-links:hover {
    text-decoration: none;
    color: blue;
}

.legal a,
.legal a:hover,
.legal a:active {
    color: #444;
    text-decoration: none;
}

.privacy-policy h1 {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.privacy-policy h2 {
    font-size: 25px;
    font-family: 'CircularStd';
}

.legal-des {
    text-align: justify;
    font-weight: 500;
}

.legal-des strong {
    font-weight: 900;
}

.privacy-policy p {
    padding-right: 13vw;
    letter-spacing: 0.8px;
}

.nav-desk {
    height: 10vh;
    display: block;
    width: 86vw;
    margin: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
}

.nav-logo {
    height: 100%;
    float: left;
}

.menu-wrap {
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 1;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    z-index: 1;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.legal {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.hero-tag {
    margin-top: 20vh;
    text-align: left;
    font-size: 4.5em;
    font-weight: bold;
    color: var(--hero-color);
    font-family: 'CircularStd', sans-serif;
}

.contact-hero {
    margin-top: 0vh;
    font-size: 3.5em;
}

.contact-hero-idea {
    margin-top: 0vh;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.contact-hero-key-idea {
    margin-top: 0vh;
    margin-bottom: 30px;
    font-size: 1.2em;
}

.hero-des {
    padding-right: 60px;
    text-align: justify;
    letter-spacing: 1.2;
}

.contact-des {
    letter-spacing: 0.2;
}

.input-container {
    padding: 10px 0px;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.form-control {
    height: calc(2.25rem + 2px);
    padding: .5rem .75rem;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background: none;
    border: none;
    border-bottom: 2px solid #444;
    border-radius: 0rem;
    transition: all .5s ease-in-out;
    outline: none;
}

.form-control:focus {
    outline: none;
    border-bottom: 2px solid blue;
    box-shadow: none;
}

.form-control:hover {
    background: whitesmoke;
}

.learn-btn {
    padding: 5px 10px;
    background: var(--light-text-color);
    color: white;
    border: 2px solid var(--light-text-color);
    letter-spacing: 0.1;
    transition: all 1s;
}

.learn-btn2 {
    margin-left: 6px;
    padding: 5px 10px;
    background: var(--light-text-color);
    color: white;
    border: 2px solid var(--light-text-color);
    letter-spacing: 0.1;
    transition: all 1s;
}

.contact-des a {
    text-decoration: none;
    color: #444;
    transition: color 1s;
}

.contact-des a:hover {
    color: blue;
}

.learn-btn:hover {
    background: blue;
    border: 2px solid blue;
}

.contact-btn {
    margin-left: 6px;
    padding: 5px 10px;
    color: var(--light-text-color);
    background: none;
    border: 2px solid var(--light-text-color);
    transition: all 1s;
    margin-top: 10px;
}

.contact-btn:hover {
    color: blue;
    border: 2px solid blue;
}

#hero-img {
    margin-top: 50px;
    width: 90%;
}

#left-hero {
    padding-left: 150px;
}


#left-hero-card-idea {
    padding-left: 40px;
}

#left-right-hero {
    padding: 0 163px;
}

#logo {
    margin-top: 5px;
    height: 80%;
    padding: 6px;
}

ul {
    float: right;
    list-style: none;
    padding: 30px 0px;
}

li {
    display: inline;
    font-size: 16px;
    letter-spacing: 0.1;
    padding: 0px 15px;
}

.social-icons {
    margin-top: 30%;
}

.footer-full {
    width: 80vw;
    margin: 0 auto;
    padding: 30px 10px;
    padding-top: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-credits {
    float: right;
}

.footer-credits a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
    transition: all 1s;
}

.footer-credits a:hover {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.social-icons i {
    font-size: 2em;
    padding: 0px 5px;
}

li span {
    position: relative;
    cursor: pointer;
}

li span:before,
li span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: var(--black-color);
}

li span:before {
    left: -2.5px;
}

li span:after {
    right: 2.5px;
    background: var(--black-color);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.footer-full {
    padding-top: 60px;
}

li span:hover:before {
    background: var(--black-color);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

#index-body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.description-idea {
    margin-top: 20px;
    text-align: left;
    font-size: 1.0em;
}


/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    #left-hero {
        padding-left: 80px;
        padding-right: 80px;
        flex: 0 0 100% !important;
        max-width: 100% !important;

    }

    #work-row {
        padding-left: 80px;
        padding-right: 80px;
    }

    .work-hero {
        width: 100%;
    }

    .work-hero2 {
        width: 100%;
    }

    #hero-right {
        display: none;
    }

    .work-double-row {
        padding-left: 30px;
        padding-right: 30px;
    }

    #index-body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100vw;
    }
}

/* Mobile phones */
@media only screen and (max-width: 768px) {
    .nav-items {
        width: 0;
        height: 0;
        display: none;
    }

    .work-double-row {
        padding: 30px 20px;
        padding-bottom: 0;
    }

    .work-hero-card {
        width: 100%;
        margin-bottom: 25px;
    }

    #row-3 {
        margin-top: 0px;
        padding: 0 20px;
    }

    #index-body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }

    #left-hero {
        padding-left: 50px;
    }

    #work-row {
        padding-right: 0;
        padding-left: 0;
    }

    .work-des h1 {
        text-align: center;
    }

    .work-read {
        float: none;
    }

    #logo {
        display: none;
    }

    .hero-tag {
        margin-top: 20vh;
        font-size: 4em;
    }

    #hero-right {
        display: none;
    }

    .hero-des {
        padding-right: 30px;
    }

    .menu-wrap {
        display: block;
    }

    .menu ul li {
        display: block !important;
    }

    .menu ul li a {
        color: var(--black-color) !important;
    }

    .menu-wrap .hamburger {
        z-index: 2;
    }

    .menu-wrap .toggler {
        z-index: 3;
    }

    .contact-hero {
        margin-top: 10vh;
    }

    .footer-full {
        text-align: center;
        padding-top: 40px !important;
    }

    #contact-social {
        margin-top: 10%;
    }

    .footer-credits {
        display: block;
        text-align: center;
        padding-top: 10px;
        float: none;
    }

    #legal-hero {
        margin-top: 5vh !important;
        text-align: left;
    }

    #legal-hero-des {
        padding-right: 10px;
        text-align: left;
        font-size: 0.8em;
    }

    .privacy-policy p {
        padding-right: 1vw;
    }

    .project-star {
        display: none;
    }

    .project-star-mobile {
        display: block;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
